* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

/* AUTH PAGES */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 10px;
}

.sub-text {
  color: #777;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #4338ca;
}

.switch {
  margin-top: 15px;
}

.switch a {
  color: #4f46e5;
  text-decoration: none;
}

/* NAVBAR */
.navbar {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #4f46e5;
}

.nav-container a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.logout {
  color: red;
}

/* MAIN CONTENT */
.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 15px;
}

/* CREATE BLOG */
.blog-form-card {
  background: #fff;
  padding: 30px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}

.blog-form-card input,
.blog-form-card textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* DASHBOARD */
.page-title {
  margin-bottom: 20px;
}

.blogs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.blog-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.blog-card h3 {
  margin-bottom: 8px;
}

.author, .date {
  font-size: 14px;
  color: #777;
}

.content {
  margin-top: 10px;
}
